* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 500px;
    background-color: #ddd5d5;
    border-radius: 8px;
    border-bottom: 2px solid gray;
    padding: 16px;
}

.title {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    display: block;
}

.label_text {
    display: block;
    margin-bottom: 4px;
}

.input {
    border: none;
    border-bottom: 2px solid gray;
    height: 50px;
    width: 100%;
    display: block;
    border-radius: 8px;
    padding: 0 8px;
    outline: none;
}

.button {
    margin-top: 8px;
    display: block;
    width: 100%;
    height: 50px;
    border: none;
    border-bottom: 2px solid gray;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity .3s, background-color .3s;
}

.button:hover {
    opacity: 80; 
}
